@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  img {
    display: block;
  }

  /* -- ---MOBILE-MENU----  */

  .menu-container {
    max-width: 428px;
    padding: 40px;
  }

  .mob-phone-link {
    font-size: 36px;
  }

  /*Hero*/
  .hero {
    width: 428px;
    height: 432px;
  }

  .hero-title {
    max-width: 318px;
  }

  .advantage-text {
    max-width: 396px;
  }

  .footer-input {
    min-width: 264px;
  }

  /* PORTFOLIO*/

  .filter-section {
    padding-top: 48px;
  }

  .filter-list-btn {
    margin-bottom: 64px;
  }

  .card-list-item {
    max-width: 396px;
  }

  @media screen and (min-width: 480px) {
    .backdrop {
      padding: 96px 18px auto 18px;
    }

    .modal {
      width: 392px;
      min-height: 586px;
    }
  }
}
